/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2017, 06:58:14 ص
    Author     : abed
*/

.border-pane{
    -fx-background-color: rgba(149, 165, 166,1.0);
}
.button{
    -fx-background-color: transparent;
    -fx-text-fill:rgba(236, 240, 241,1.0);
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}
.button:hover{
    -fx-background-color: rgba(236, 240, 241,1.0);
    -fx-text-fill:rgba(52, 73, 94,1.0);
}
.label{
    -fx-text-fill:black;
    -fx-font-size:19px;
}
.text-field{
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-text-fill:rgba(44, 62, 80,1.0);
    -fx-font-size: 15px;
    -fx-font-family: "Arial";
    -fx-box-border: none;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}